@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
    margin: 0;
    font-family: "Quicksand";
    color: #320E3B;
    background-color: #F2F6FF;
}
.navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    border-bottom: 1px solid #c7cedf;
}
.navbar h1 {
    color: #6B7FD7;
}
.navbar .links {
    margin-left: auto;
}
.navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
}
.navbar a:hover {
    color: #6B7FD7;
}
.content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
}

/* blog previews / list */
.blog-preview {
    padding: 10px;
    margin: 10px;
    border-bottom: 1px solid #F2F6FF
}
.blog-preview:hover {
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
    border-radius: 16px;
}
.blog-preview h2 {
    font-size: 20px;
    color: #6B7FD7;
    margin-bottom: 4px;
}
.blog-list {
    margin: 20px;
    padding: 10px;
}

/* Delete blog button */
.delete-blog {
    background-color: #F2F6FF;
    border: 0px solid #eb416b;
    color: #eb416b;
    padding: 1px 1px;
    border-radius: 16px;
    cursor: pointer;
}