@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
    margin: 0;
    font-family: "Quicksand";
    color: #320E3B;
    background-color: #F2F6FF;
}
.navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    border-bottom: 1px solid #c7cedf;
}
.navbar h1 {
    color: #6B7FD7;
}
.navbar .links {
    margin-left: auto;
}
.navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    font-weight: 700;
}
.navbar a:hover {
    color: #6B7FD7;
}
.content {
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
}

/* blog previews / list */
.blog-preview {
    padding: 10px;
    margin: 10px;
    border-bottom: 1px solid #F2F6FF
}
.blog-preview:hover {
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
    border-radius: 16px;
}
.blog-preview h2 {
    font-size: 20px;
    color: #6B7FD7;
    margin-bottom: 4px;
}
.blog-list {
    margin: 20px;
    padding: 10px;
}
.blog-preview a {
    text-decoration: none;
}

/* blog details page */
.blog-details {
    max-width: 800px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    line-height: 1.5;
    text-align: justify;
}
.blog-details h2 {
    font-size: 36px;
    color: #6B7FD7;
    margin-bottom: 4px;
}
.blog-details p {
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 16px;
    text-align: center;
}
.blog-details h2 {
    text-align: center;
}

/* blog form */
.create {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}
  .create label {
    text-align: left;
    display: block;
}
.create h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 30px;
}
.create input, .create textarea, .create select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    display: block;
    background-color: white;
}
.create button {
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}
/* Delete button */
.delete {
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 40px;
}